astroid
beautifulsoup4
colorama
coverage
Django
django-coverage
django-filter
django-jenkins
django-webtest
djangorestframework
gunicorn
lazy-object-proxy
Markdown
pep8
pyflakes
pylint
six
waitress
WebOb
WebTest
wrapt==1.10.6
