astroid==1.4.4
beautifulsoup4==4.4.1
colorama==0.3.7
coverage==4.0.3
Django==1.9.2
django-coverage==1.2.4
django-filter==0.12.0
django-jenkins==0.18.1
django-webtest==1.7.8
djangorestframework==3.3.2
gunicorn==19.4.5
lazy-object-proxy==1.2.1
Markdown==2.6.5
pep8==1.7.0
pyflakes==1.1.0
pylint==1.5.4
six==1.10.0
waitress==0.8.10
WebOb==1.5.1
WebTest==2.0.20
wrapt==1.10.6
